// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-caret: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
$enable-cssgrid: true;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: true;
$enable-deprecation-messages: true;
$enable-important-utilities: true;

// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
$roboto: 'Roboto Condensed';

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
	'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
	'Liberation Mono', 'Courier New', monospace;
$font-family-base: $roboto, $font-family-sans-serif;

$utilities: map-merge(
	$utilities,
	(
		'height': (
			property: height,
			class: h,
			values: (
				20: 20%,
				25: 25%,
				30: 30%,
				35: 35%,
				40: 45%,
				50: 50%,
				55: 55%,
				60: 60%,
				65: 65%,
				70: 70%,
				75: 75%,
				80: 80%,
				85: 85%,
				90: 90%,
				95: 95%,
				100: 100%,
				auto: auto
			)
		),
		'width': (
			property: width,
			class: w,
			values: (
				20: 20%,
				25: 25%,
				30: 30%,
				35: 35%,
				40: 45%,
				50: 50%,
				55: 55%,
				60: 60%,
				65: 65%,
				70: 70%,
				75: 75%,
				80: 80%,
				85: 85%,
				90: 90%,
				95: 95%,
				100: 100%,
				auto: auto
			)
		),
		'viewport-width': (
			property: width,
			class: vw,
			values: (
				25: 25vw,
				50: 50vw,
				75: 75vw,
				100: 100vw
			)
		),
		'viewport-height': (
			property: height,
			class: vh,
			values: (
				25: 25vh,
				50: 50vh,
				75: 75vh,
				100: 100vh
			)
		)
	)
);
