@use 'sass:map';
// Initial variable overrides
@import 'bootstrap-override';

.particle-bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -100;
}

.vh-75 {
	height: 75vh !important;
}

.position-absolute,
.position-relative {
	&.rl-0 {
		right: -5px;
		left: -5px;
	}
}

.post-link {
	cursor: pointer;
}

.z-100 {
	z-index: -100;
}

@font-face {
	font-family: 'DankMono';
	src: url('/fonts/DankMono-Regular.otf');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'DankMono';
	src: url('/fonts/DankMono-Italic.otf');
	font-style: italic;
	font-weight: 500;
	font-display: swap;
}

code[class*='language-'],
pre[class*='language-'] {
	font-family: DankMono, $font-family-monospace;

	span.comment {
		font-style: italic;
	}
}
